body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.quick-links {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.quick-links li {
  margin-bottom: 10px;
  list-style: none;
}
.quick-links a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.content {
  /* styles for website content */
}
